extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner TESTAPP
    div.Message
      div.Title
        h3 Lorem, ipsum dolor sit 
        h1  Dolores ea ratione commodi
      span.Details amet consectetur adipisicing elit.
    div.NavButtons
      if isAuthenticated
        a(href="/user")
          div.NavButton Just dive in!
      else
        a(href="/login")
          div.NavButton Log in